* {
    font-family: Sans-serif;
    font-size: 14px;
}

body {
    padding-top: 70px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.tw-input-field {
    width: 100px;
}

.tw-input-field-container {
    margin: 5px;
}

.tw-horizontal-container {
    margin: 2px;
    padding: 2px;
    border: solid 1px;
    border-color: black;
    border-radius: 2px;
}

.pw-container {
    margin: 2px;
    padding: 2px;
    border: solid 1px;
    border-color: black;
    border-radius: 2px;
}
